.profile{
    display: flex;
    align-items: center;
    margin-bottom: 51px;
}
@media screen and (max-width: 608px){
    .profile{
        flex-direction: column;
        margin-bottom: 37px;
    }
}