.login__submit {
    margin-top: 200px;
    padding: 14px 155px;
    color: #000;
    font-size: 18px;
    font-weight: 400;
    background-color: white;
    border-radius: 2px;
    cursor: pointer;
}