.footer__text{
    color: #545454;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    margin: 0;
}
@media screen and (max-width:608px) {
    .footer__text {
        font-size: 14px;
        line-height: 16.94px;
        margin-left: 10px;
    }
}