.popup__btn{
    padding: 13px 131px;
    font-size: 18px;
    line-height: 21.78px;
    font-weight: 400;
    background-color: black;
    color: white;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 2px;
    margin-top: 18px;
}
.popup__btn:hover{
    opacity: .8;
}
@media screen and (max-width:520px) {
    .popup__btn {
        font-size: 14px;
        line-height: 16.94px;
        padding: 14px 82px;
        margin-top: 15px;
    }
}