.elements__list{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, max-content));
    gap: 20px 17px;
    list-style: none;
}
@media screen and (max-width: 900px) {
    .elements__list {
        grid-template-columns: repeat(2, minmax(min-content, max-content));
    }
}
@media screen and (max-width: 608px) {
    .elements__list {
        grid-template-columns: repeat(1, minmax(min-content, max-content));
    }
}