.elements__img{
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    object-position: center;
    width: 100%;
    max-width: 282px;
    height: 282px;
    display: block;
    cursor: pointer;
}